.header {
    background-color: #343a40;
    width: 100%;
    height: auto;
    margin: 0 0;
    color: white;
}

h1 {
    text-align: center;
    margin: auto;
}

input{
    border-radius: 4px;
    height: 30px;
    padding: 0 2%;
}

button {
    margin: 2%;
}