<div class="container">
  <div class="row header">
    <h1>Test</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      Search By:
      <select style="border-radius: 4px; height: 30px;" class="selection" name="selectedLog"
        (ngModelChange)="onChange($event)" [(ngModel)]="selected_log">
        <option value="1">ID</option>
        <option value="2">Fistname</option>
        <option value="3">Last name</option>
        <option value="4">Email</option>
        <option value="5">Gender</option>
        <option value="6">Age</option>
      </select>
      <br>
      <br>

      <input type="text" placeholder="search" [(ngModel)]="input_text"> &nbsp;&nbsp;&nbsp;
      <button type="button btn-sm" class="btn btn-primary" (click)="search()">Search</button>
      <br>

      <hr>
      Registration

      <div class="form">
        <form>
          <div class="form-group">
            <label for="ID">ID</label>
            <input type="number" class="form-control" id="ID" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_id" aria-describedby="emailHelp"
              placeholder="Enter ID">
          </div>
          <div class="form-group">
            <label for="Firstname">Firstname</label>
            <input type="text" class="form-control" id="Firstname" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_fname"
              placeholder="Enter Firstname">
          </div>
          <div class="form-group">
            <label for="Lastname">Lastname</label>
            <input type="text" class="form-control" id="Lastname" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_lname" placeholder="Enter Lastname">
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" id="Email" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_email" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text" class="form-control" id="Gender" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_gender" placeholder="Enter Gender">
          </div>
          <div class="form-group">
            <label for="Age">Age</label>
            <input type="number" class="form-control" id="Age" [ngModelOptions]="{standalone: true}" [(ngModel)]="get_age" placeholder="Enter Age">
          </div>
          <button class="btn-md btn-warning" (click)="save()">
            Create User
          </button>
        </form>
      </div>

    </div>
    <div class="col-sm">
      <table class="table" *ngIf="this.show">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of all_user">
            <th>{{user[0]}}</th>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>{{user[5]}}</td>
            <td><button class="btn-sm btn-danger" (click)="delete(user[0])">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf="!this.show">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{all_user[0]}}</td>
            <td>{{all_user[1]}}</td>
            <td>{{all_user[2]}}</td>
            <td>{{all_user[3]}}</td>
            <td>{{all_user[4]}}</td>
            <td>{{all_user[5]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>